body{
    font-family:'Poppins', sans-serif;
    margin:0;
    padding:0;
    background:url("/bookstore_project/assets/images/firstpage.jpeg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
body::before{
    content:"";
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    z-index:-1;
}
.navbar{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
    font-size:18px;
    position:relative;
    margin-top: 20px;
}
.navbar h2{
    position:absolute;
    left:40px;
    margin:0;
    font-family:'Playfair Display', serif;
    color:rgb(255, 22, 127);
    font-size: 35px;
}
.navbar ul{
    list-style:none;
    display:flex;
    gap:25px;
    margin:0;
    padding:0;
}
.navbar ul li a{
    color:white;
    text-decoration:none;
    font-size:16px;
    padding:10px 18px;
    border-radius:50px;  
    transition:0.3s;
    border:2px solid transparent;
}
.navbar ul li a:hover{
    border:2px solid rgb(255, 22, 127);
    color:rgb(255, 22, 127);
}
.navbar ul li a.active{
    background:rgb(255, 22, 127);
    color:black;
}
h1{
    color: rgb(255, 22, 127);
    margin-bottom:30px;
    font-size:35px;
    font-family:'Playfair Display', serif;
}
.top-bar{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
    margin-bottom:30px;
}
.categories-nav{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
}
.categories-nav a{
    padding:8px 18px;
    text-decoration:none;
    color:white;
    background:rgba(0,0,0,0.6);
    border-radius:30px;
    transition:0.3s;
    border:2px solid transparent;
    font-size: 18px;
}
.categories-nav a:hover{
    border:2px solid rgb(255, 22, 127);
    color:rgb(255, 22, 127);
    transform:scale(1.05);
}
.categories-nav a.active{
    background:rgb(255, 22, 127);
    color:black;
}
.search-box{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    width: 100%;
}
.search-box input{
    padding:10px;
    width:300px;
    border-radius:25px;
    border:none;
    outline:none;
}
.search-box button{
    padding:10px 18px;
    background:rgb(255, 22, 127);
    color:black;
    border:none;
    border-radius:25px;
    cursor:pointer;
    transition:0.3s;
}
.search-box button:hover{
    background:green;
    color:white;
}
.books{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
    gap:25px;
}
.book{
    background:rgba(245, 227, 227, 0.5);
    padding:15px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.5);
    transition:0.4s;
}
.book:hover{
    transform: translateY(-10px) scale(1.03);
    box-shadow:0 10px 25px rgba(0,0,0,0.7);
    background:rgb(205, 205, 205);
}
.book img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:6px;
}
.book h3{
    margin:10px 0;
    font-size:20px;
}
.book p{
    margin:5px 0;
    color: black;
}
.price{
    font-weight:bold;
}
.btn{
    display:inline-block;
    margin-top:10px;
    padding:8px 15px;
    background: rgb(228, 163, 174);
    color:black;
    text-decoration:none;
    border-radius:20px;
    transition:0.3s; 
}
.btn:hover{
    background:green;
    color:white;
}
.book-details{
    width:500px;
    margin:80px auto;
    background:rgba(188, 184, 184, 0.5);
    padding:25px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 5px 20px rgba(0,0,0,0.6);
    color:white;
}
.book-details img{
    width:200px;
    margin-bottom:15px;
    border-radius:6px;
}
.book-details h2{
    margin-bottom:10px;
}
.book-details p{
    color: white;
}
.book-details a{
    text-decoration:none;
    color: black;
}
@media(max-width:600px){
    .search-box input{
        width:180px;
    }
    .book-details{
        width:90%;
    }
}
footer{
    margin-top:150px;
    background:rgba(70, 70, 70, 0.5);
    color:white;
    text-align:center;
    padding:15px;
    font-size:17px;
}
