body{
    font-family:'Poppins', sans-serif;
    margin:0;
    padding:0;
    background:url("/bookstore_project/assets/images/firstpage.jpeg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    text-align:center; 
}
body::before{
    content:"";
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    z-index:-1;
}
.navbar{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
    font-size:18px;
    position:relative;
    margin-top: 20px;
}
.navbar h2{
    position:absolute;
    left:40px;
    margin:0;
    font-family:'Playfair Display', serif;
    color:rgb(255, 22, 127);
    font-size:35px;
}
.navbar ul{
    list-style:none;
    display:flex;
    gap:25px;
    margin:0;
    padding:0;
}
.navbar ul li a{
    color:#ffffff;
    text-decoration:none;
    font-size:16px;
    padding:10px 18px;
    border-radius:50px;
    transition:0.3s;
    border:2px solid transparent;
}
.navbar ul li a:hover{
    border:2px solid rgb(255, 22, 127);
    color:rgb(255, 22, 127);
}
.navbar ul li a.active{
    background:rgb(255, 22, 127);
    color:black;
}
.container{
    width:60%;
    margin:40px auto; 
}
.order-box{
    background:rgba(255, 255, 255, 0.5);
    color: black; 
    padding:25px;
    margin-bottom:25px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,0.4);
    transition:0.3s;
    text-align:center;
}
.order-box:hover{
    transform:scale(1.03);
}
.order-header{
    display:flex;
    justify-content:center; 
    gap:20px;
    align-items:center;
    margin-bottom:10px;
}
.status{
    padding:6px 14px;
    border-radius:20px;
    background:rgb(228, 163, 174);
    color: black;
    font-size:14px;
    font-weight:bold;
}
.date{
    font-size:14px;
    color: black;
    margin-bottom:10px;
}
.order-footer{
    margin-top:10px;
    text-align:center;
    font-weight:bold;
    color: black;
}
footer{
    margin-top:150px;
    background:rgba(0,0,0,0.7);
    color:#fff;
    text-align:center;
    padding:15px;
    font-size:17px;
}
table{
    margin: 20px auto;   
    border-collapse: collapse;
    width: 80%;          
    text-align: center; 
    background: rgba(255,255,255,0.9);
    color: #222;
    border-radius: 10px;
    overflow: hidden;
}
table th{
    background: rgb(228, 163, 174);
    color: black;
    padding: 12px;
}
table td{
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
table tr:hover{
    background: rgba(255, 22, 127, 0.1);
}
.container{
    width: 80%;
    margin: auto;
}
